.btn{
    width: 100%;
    border: 3px solid black;
    border-radius: 0px;
    background: none;
    aspect-ratio:  100 / 1;
    font-size: 20px;
    padding:2rem;
    cursor:active;
}

.btn.active{
    background-color: hsl(200,100%,50%);
    color:white
}
.btn:inactive{
    opacity:0.4
}
.btn:hover:not(:disabled),.btn:focus:not(:disabled){
    background-color: hsl(200,100%,75%);
}

